//mixin for connecting fonts
@mixin font-face(
  $font-name,
  $font-path,
  $font-weight: 400,
  $font-style: normal,
  $font-display: swap,
  $font-ext: ttf
) {
  @font-face {
    font-family: $font-name;
    src: url('#{$font-path}.#{$font-ext}') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
  }
}