
.icon-wedding-cake:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-wedding-one:before { content: '\e802'; } /* '' */
.icon-wedding-rings:before { content: '\e803'; } /* '' */
.icon-dinner:before { content: '\e804'; } /* '' */
