@use "../helpers/media";
@use "../helpers/functions";

.h1 {
  color: var(--c-primary);
  font-size: functions.rfs(50, 70);
  text-transform: uppercase;
  line-height: 1;
}

.h2 {
  //
}

.h3 {
  //
}

.h4 {
  //
}
